@import "./src/assets/styles/mixins";

.partners {
	position: relative;
	width: 100%;
	// .partners__container
	&__container {
		@include flex(column, normal, normal, 30px);
	}

	&__info {
	}
	// .partners__desc
	&__desc {
	}

	// .partners__title
	&__title {
	}

	// .partners__content
	&__content {
	}

	// .partners__slider
	&__slider {
		position: relative;
		@include flex(row, center, center, 0);
	}

	&__pagination {
		position: absolute;
		padding: clamp(0.625rem, 0.405rem + 0.94vw, 1.25rem);
		top: 50%;
		transform: translateY(-50%);
		z-index: 10;
		border-radius: 50%;
		cursor: pointer;
		box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.1);
		margin: 5px;
	}
	&__slider-next {
		right: 0;
		background-color: var(--secondary-color);
	}

	&__slider-prev {
		left: 0;
		background-color: #ffffff;
	}

	// .partners__slide
	&__slide {
		position: relative;
		@include flex(row, space-between, center, 30px);
		background-color: #ffffff;
		height: 450px;
		padding: 20px;
		border-radius: 20px;
		box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.1);
		margin: 20px;

		@media (max-width: 950px) {
			flex-direction: column;
			//height: 550px;
			height: auto;
		}
	}

	// .partners__slide-image
	&__slide-image {
		position: relative;
		@include flex(row, center, center, 0);
		height: 100%;
		padding: 20px;
		background-color: var(--secondary-color);
		border-radius: 20px;
		overflow: hidden;

		@media (max-width: 950px) {
			width: 100%;
			max-width: 100%;
			height: 300px;

			img {
				object-fit: contain;
				min-width: 220px;
				max-height: 280px;
			}
		}
	}

	// .partners__says
	&__says {
		@include flex(column, normal, flex-start, 30px);
		width: 70%;
	}

	// .partners__text
	&__text {
		font-size: 16px;
	}

	// .partners__article
	&__article {
		@include flex(column, normal, flex-start, 5px);
	}

	// .partners__partner-name
	&__partner-name {
		font-size: 16px;
	}

	// .partners__partner-desc
	&__partner-desc {
		font-size: 14px;
	}

	// .partners__rating
	&__rating {
		@include flex(row, normal, center, 10px);
	}

	// .partners__rate
	&__rate {
	}

	// .partners__star
	&__star {
		@include flex(row, normal, center, 2px);
	}
}
