@import "./src/assets/styles/mixins";

.about {
	// .about__container
	&__container {
		@include flex(row, normal, center, 20px);
		@media (max-width: 750px) {
			flex-direction: column;
			justify-content: center;
		}
	}

	// .about__content
	&__content {
		@include flex(column, space-between, flex-start, 20px);
		width: 100%;
		@media (max-width: 750px) {
			align-items: center;
		}
	}

	// .about__text
	&__text {
		max-width: 400px;
	}
}
