@import "./src/assets/styles/mixins";

.hero {
	// .hero__container
	&__container {
		@include flex(column, normal, flex-start, 30px);
	}

	// .hero__content
	&__content {
		@include flex(row, space-between, center, 20px);
		width: 100%;
		@media (max-width: 1150px) {
			flex-direction: column;
		}
	}

	// .hero__article
	&__article {
		@include flex(column, normal, flex-start, 10px);
		max-width: 370px;
	}



	// .hero__title
	&__title {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			background-image: url("./assets/deco/deco-hero.svg");
			background-repeat: no-repeat;
			bottom: -5px;
			z-index: -1;
			width: 100%;
			height: 15px;
		}
	}

	// .hero__text
	&__text {
		margin: 20px 0;
	}

	// .hero__button
	&__button {
		@include reset();
		@include flex(row, normal, center, 10px);
		background-color: var(--secondary-color);
		color: #ffffff;
		padding: 10px 15px;
		border-radius: 10px;

		img {
			width: 32px;
		}
	}

	&__button:hover{
		background-color: #005eff;
		transition: 0.3s ease-in-out;
	}

	// .hero__image
	&__image {
		position: relative;
		width: clamp(18.75rem, 9.287rem + 40.38vw, 45.625rem);
		img {
			width: 100%;
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			background-repeat: no-repeat;
			z-index: 10;
		}
		&::before {
			background-image: url("./assets/deco/deco-hero-2.svg");
			width: 77px;
			height: 69px;
			top: calc(-1 * clamp(1.875rem, 1.435rem + 1.88vw, 3.125rem));
			left: -30px;
		}
		&::after {
			background-image: url("./assets/deco/deco-hero-3.svg");
			width: 69px;
			height: 48px;
			bottom: -20px;
			right: -10px;
		}
	}

	// .hero__tools
	&__tools {
		@include flex(row, space-evenly, center, clamp(1.875rem, 1.435rem + 1.88vw, 3.125rem));
		flex-wrap: wrap;
		width: 100%;
	}
}
