@import "./src/assets/styles/mixins";

.header {
	padding: 20px 0;
	width: 100%;

	&__container {
		@include flex(row, space-between, center, 30px);

		@media (max-width: 840px) {
			flex-wrap: wrap;
			justify-content: space-evenly;
		}
	}

	// .header__logo
	&__logo {
		@include flex(row, normal, center, 10px);
	}

	// .header__logo-image
	&__logo-image {
		width: 120px;
		aspect-ratio: 1 / 1;
	}

	// .header__logo-text
	&__logo-text {
		font-weight: 700;
		color: var(--main-color);
		font-size: 22px;
		cursor: pointer;
	}

	// .header__navbar
	&__navbar {
		@include flex(row, normal, center, 40px);
	}

	// .header__navbar-item
	&__navbar-item {
		color: var(--main-color);
	}

	// .header__auth
	&__auth {
		@include flex(row, normal, center, 20px);
	}

	&__profile {
		@include flex(row, normal, center, 10px);
		background-color: #4ac1f7;
		padding: 5px 5px 5px 20px;
		border-radius: 30px;
	}
	&__profile-info {
		@include flex(column, normal, flex-end, 10px);
	}
	&__profile-signout {
		@include reset();
		font-size: 14px;
		color: var(--main-color);
	}
	&__profile-image {
		border-radius: 15% 30px 30px 15%;
	}

	// .header__auth-button
	&__auth-button {
		@include reset();
		padding: 10px 25px;
		border-radius: 10px;
		transition: all var(--anination-fast) ease;

		&.filled {
			background-color: var(--main-color);
			color: #ffffff;

			&:hover {
				opacity: 0.7;
			}
		}
	}
}
