@import "./src/assets/styles/mixins";

.about{

    &__container {
        position: relative;
        @include flex(row, normal, normal, 20px);
    }

    &__content {
      @include flex(column, space-between, normal, 20px);
  
      @media (max-width: 1300px) {
        flex-direction: column;
        align-items: center;
      }
    }

    &__info {
		@include flex(column, normal, flex-start, 5px);
	  }   

    &__text{
      font-weight: 700;
	    color: var(--main-color);
	    font-size: 18px;
    }

    &__left{
      width: 40%;
    }

   
}